.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tags:before {
  content: "\e602";
}

.icon-back:before {
  content: "\e8f4";
}

.icon-wechat:before {
  content: "\e694";
}

.icon-backtop:before {
  content: "\e73a";
}

.icon-email:before {
  content: "\e603";
}

.icon-juejin:before {
  content: "\e601";
}

.icon-tips:before {
  content: "\e704";
}

.icon-post:before {
  content: "\e84c";
}

.icon-airplane:before {
  content: "\e600";
}

