.archives {
  .desc {
    // font-size: 14px;
    font-weight: 600;
  }
  .year {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    top: -4px;
  }
  .ant-timeline-item{
    font-size: 15px;
  }

  a {
    color: #333;
    border-bottom: 1px solid #1abc9c;
  }

  a:hover {
    border-bottom-color: #555;
    color: #555;
  }
}
